[Desktop Entry]
Encoding=UTF-8
Name=qwo
Comment=Quikwriting for OpenMoko
Version=0.2
Type=Application
Exec=qwo
Terminal=false
Categories=Utilities;Keyboard
X-MB-SingleInstance=true
Icon=qwo
